<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ metadata.title }} – {{ title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  <link rel="apple-touch-icon" sizes="400x400" href="/img/background.jpg">
  <link rel="icon" type="image/png" sizes="400x400" href="/img/favicon.png">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@TalkJot" />
  <meta name="twitter:creator" content="@TalkJot">
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:image" content="{{ metadata.url }}/img/background.jpg" />
  <meta name="twitter:description" content="{{ description or metadata.description }}" />
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ description or metadata.description }}">
  <meta property="og:site_name" content="{{ metadata.title }}">
  <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:image" content="{{ metadata.url }}/img/background.jpg">
</head>

<body>
  <header>
    <a class="logo-a" href="{{ '/' | url }}">
      <img src="/img/appicon.png" class="logo-image">
      <h1 class="logo">{{ metadata.title }}</h1>
    </a>
    <nav>
      {% if page.url !== "/" %}
        <a href="{{ '/' | url }}">Home</a>
      {% endif %}
      {%- for entry in collections.all | eleventyNavigation %}
        {% if entry.url !== page.url %}
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        {% endif %}
      {%- endfor %}
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p>Made with ❤️ and ☕ by <a href="https://sjc.sh" target="_blank"><b>sjc</b></a></p>
    {% if page.url !== "/" %}
      <a href="{{ '/' | url }}">Home</a>
    {% endif %}
    {%- for entry in collections.all | eleventyNavigation %}
      {% if entry.url !== page.url %}
        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
      {% endif %}
    {%- endfor %}
  </footer>

  <!-- Current page: {{ page.url | url }} -->
</body>
</html>
